.box1 {
    width: 850px;
    background-color: blue;
}

.box2 {
    background-color: yellow;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 300px;
    width: 450px;
    height: 550px;
    

}

.wrapper1MC {
    align-items: center;
    display: flex;
    position: relative;
}

.careerRecs {
    background-color: orange;
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 500px;
}

/*

.box > CareerList {
    margin-left: 300px;
    margin-bottom: 800px;
}
*/

.card {
    background-color: yellow;
    width: 100%;
}

