.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .box {
    width: 20%;
    height: 20%;
    margin-right: 10px;
  }
  
  .center-box {
    width: 30%;
    height: 30%;
    margin-right: 10px;
  }
  
  .blue {
    background-color: blue;
  }
  
  .gray {
    background-color: gray;
  }
  
  .purple {
    background-color: purple;
  }


.active {
    background-color: lightblue;
    opacity: 1;

  }