.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.side-nav-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 10px;
  }

  .side-nav-logo > * {
    padding: 2px;
    
  }

  .side-footer-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 240px;
  }

  .side-footer-logo > * {
    padding: 2px;
    
  }

  .checkmarks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkmarks-list > * {
    
    text-align:left;
  }

  .search-lightdarkmode-container {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
  }




.services-title-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  
    width: 50px;
  
 
}

.services-small-container {
    display: flex;
    align-items: center;
}



.cards-container {
    display: flex;
    justify-content: center;


}

.cards-container > * {
    margin: 10px;
    width: 350px;
}

.products-text {
    display: flex;
    flex-direction: column;
   
}

.products-text > * {
    text-align: center;

}

.products-tag {
    margin-bottom: 10px;
    text-align: right;
}

.products-tag2 {
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.resourcebox {
    width: 420px;
    height: 400px;
    border-radius: 5px;
    background-color:dodgerblue;
}

.resourcebox2 {
    
    padding: 0;
    width: 380px;
    height: 380px;
    border-radius: 5px;
    background-color:dodgerblue;
}


.resourcebox-container {
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;

}