.pie_careerOutlook {
    margin-top: 75px;
    margin-left: 50px;
}

.specialization_careerOutlook > p {
    font-size: 24px;
    font-weight: bold;
}

.specialization_careerOutlook {
    margin-top: 50px;
}