.career_traits_container {
    background: linear-gradient(45deg, blue, green 40%, red);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 5px;
    justify-content: space-around;
    width: 570px;
}

