html, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Phudu', cursive;
}

.dashboard-container {
  display: flex;
  padding: 50px;
  position: relative;
  height: 200vh;
 

}

.dashboard-left-scn {
  height: 80vh;
  width: 20vw;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.h4Tag {
  font-family: 'Phudu';
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  
  
}
.dashboard-profile {
  height: 120px;
  background: #edf2f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 24px;
}

.dashboard-play {
  width: 50px;
  height: 50px;
  margin-left: auto;
  
}
.dashboard-achievments {
  margin-top: 18px;
  height: 180px;
  position: relative;
  background: #edf2f4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  animation: animated-gradient 5s ease-in-out infinite;
}

.survey-section {
  margin-top: 0px;
  height: 310px;
  position: relative;
  background-color: #32465c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-achievments-see {
  cursor: pointer;
  background-color: #edf2f4;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
  background: -webkit-linear-gradient(-70deg, gold, #ff5400, #ffed66);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}


.dashboard-courses {
  background-color: #edf2f4;
  box-shadow: 0 1px 3px #2b2d42, 0 1px 2px darkgray;
  border-radius: 4px;
  padding: 24px;
  max-width: 240px;

  height: 100%;

  margin: 18px;
}

.dashboard-colleges {
  background-color: #edf2f4;
  box-shadow: 0 1px 3px #2b2d42, 0 1px 2px darkgray;
  border-radius: 4px;
  padding: 24px;
  max-width: 240px;
  margin: 18px;
  height: 100%;

}

.dashboard-careers {
  background-color: #edf2f4;
  box-shadow: 0 1px 3px #2b2d42, 0 1px 2px darkgray;
  border-radius: 4px;
  padding: 24px;
  max-width: 240px;
margin: 18px;
height: 100%;
}
.dashboard-main-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  height: 70vh;

  
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 30px;
  height: 70vh;

}
.dashboard-miss-container {
  background-color: #7c8b96;
  background-size: cover;
  background-position: center center -130px;
}

.dashboard-missions {
  text-align: center;
  padding: 20px;
  
  height: 60.75vh;
  width: inherit;
  background: url('../../game_map.png') center center / cover no-repeat;
  background-position: center 100px;
  box-shadow: 0 3px 5px pink, 0 3px 5px lightpink ;
  animation: glow 4s infinite;
}

.dashboard-missions-see {
 cursor: pointer;
display: flex;
align-items: center;
margin-top: 18px;
height: 80px;
  height:80px;
  margin-top: 18px;
  width: inherit;
  background: #32465c;
box-shadow: 0 1px 3px #2b2d42, 0 1px 2px black;


}
 
/* Profile Section */
 
.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  background-color: lightgreen;
  object-fit: cover;
}

.profile-click-in {
  width: 60px;
  height: 60px;
  background-color:aqua;
  object-fit: cover;
}

.profile-school {
  width: 60px;
  height: 60px;
  background-color: lightcoral;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-info h2 {
  margin: 0;
  background: black;
-webkit-background-clip: text;
background-size: 200%;
-webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: animated-gradient 5s ease-in-out infinite;
}

.profile-info p {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  color: lightgray;

}

.my-mission-header {
  font-size: 36px;
  position: absolute;
  font-weight: 800;
  left: 0;
  top: 0;
  transform: translateX(35px) translateY(25px);
 
}

/* animations */

.animated-gradient-text {
  background: -webkit-linear-gradient(-70deg, #184e77, #e0fbfc, #99d98c, #1a759f);
  -webkit-background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  animation: animated-gradient 5s ease-in-out infinite;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
}


.image-container {
  height: 65vh;
  width: 35vw;
  position: absolute;
  top: 100vh;
  margin-top: 15vh;
  left: 50%;
transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  border: 3px solid #E0E0E0;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 30px;
}

.image-container img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.my-mission-container {
  background-color: #34a0a4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
position: absolute;
  height: 65vh;
width: 20vw;
top: 115vh;
display: flex;
flex-direction: column;
border: 1px solid black;

}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.circle {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
    

.circle1 {
  top: 60%;
  left: 60%;
}
    

.circle2 {
  top: 58%;
  left: 45%;
}

.circle3 {
  top: 45%;
  left: 32%;
}

.circle4 {
  top: 33%;
  left: 35%;
}

.circle5 {
  top: 43%;
  left: 52%;
}
  

.mission-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.mission-list h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.mission-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mission-list li {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}