.title-box {
    width: 450px;
    height: 300px;
    margin: 0 auto;    
}

.logo-img {
    margin-left: 75px;
    margin-top: 50px;
}

.quick-info {
    background-color: #D3D3D3;
    height: 400px;
    margin-top: 100px;
    width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 250px;
}
.quick-info > p {
    font-size: 24px;
}

.description {
    margin-top: 25px;
    
}

.main-container-Careers {
    display: flex;
}

.quick-info-tasks {
    background-color: #D3D3D3;
    height: 400px;
    margin-top: 100px;
    width: 450px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 100px;
}

.quick-info-tasks > p {
    font-size: 24px;
}

.tasks-Careers {
    margin-top: 25px;
}

.skills-container-Careers {
    margin-top: 20px;
    height: 650px;
    display: flex;
}

.knowledge-container {
    background-color: #D3D3D3;
    height: 500px;
    margin-top: 100px;
    width: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 150px;
}

.knowledge-container > p {
    font-size: 24px;
    font-weight: bold;
}

.skills-container {
    background-color: #D3D3D3;
    height: 500px;
    margin-top: 100px;
    width: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 150px;
}

.abilities-container {
    background-color: #D3D3D3;
    height: 500px;
    margin-top: 100px;
    width: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 150px;

}

.skills-container > p {
    font-size: 24px;
    font-weight: bold;
}

.abilities-container > p {
    font-size: 24px;
    font-weight: bold;
}

.knowledge-spoiler {
    margin-top: 50px;
}

.skills-spoiler {
    margin-top: 50px;
}

.abilities-spoiler {
    margin-top: 50px;
}

.tasks_skills {
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.tasks_skills > p {
    font-size: 24px;
    font-weight: bold;
}

.tasks > p {
    font-size: 24px;
    font-weight: bold;
}

.tasks {
    padding-top: 10px;
}

.modal_btn {
    margin-top: 25px;
}

.tasks_skills_abils {
    margin-left: 550px;
    margin-top: 15px;
}

.tasks_skills_abils > p {
    font-size: 24px;
    font-weight: bold;
}

.chars {
    margin-top: 200px;
    
}

.chars > p {
    font-size: 24px;
    font-weight: bold;
}

.tech_skills_careers {
    width: 570px;
    margin-left: 900px;
    position: relative;
    top: -125px;
}

.tech_skills_careers > p {
    font-size: 24px;
    font-weight: bold;
}

.tech_careers {
    margin-top: 25px;
}

.education_careers {
    margin-top: 50px;
}

.salary_charts_career {
    margin-top: 175px;
}

.industry_chart_career > p {
    font-size: 24px;
    font-weight: bold;
}

.industries_career {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.outlook_careers {
    margin-left: 400px;
}

.outlook_careers > p {
    font-size: 24px;
    font-weight: bold;
}

.explore_more {
    margin-top: 125px;
}

.explore_more > p {
    font-size: 24px;
    font-weight: bold;
}
.careers_container {
    background-image: url('../../Components/Universal/BlobBackgrounds/4.png');
    background-size: auto;

}