.root-career-survey {
    display: flex;
    align-items: center;
}

.container1-career-survey {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;    
    margin-top: 100px;
}

.container2-career-survey {
    margin-left: 75px;
}

.container3-career-survey {
    margin-left: 400px;
    width: 150px;
    margin-top: 100px;
}