.box1-my-career {
    width: 775px;
}

.container1-my-career {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url('/src/Components/Universal/BlobBackgrounds/1.png');
    background-size: auto;
}

.box2-my-career {
    margin-left: 200px;
    margin-bottom: 365px;
}

.box3-my-career {
    height: 500px;
    margin-top: 250px;
}

.box4-my-career {
    margin-top: 250px;
    height: 500px;
}

.container {
    text-align: center;
    height: 100%;
}