

.products-container {
  justify-content: center;
  display: flex;
  margin: 10px;
}

.products-container > * {
  margin: 4px;
}
.products-showcase {
  width: 580px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.products-grid {
  display: flex;
  justify-content: space-around;
  width: 970px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: .3px .3px 4px;
}

.products-grid > * {
  border-radius: 2px;
  border: 1px solid black;
  background-color: aquamarine;
}