* {
    margin: 0;
    box-sizing: border-box;
}


/* sections */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
   
}

.students-s1 {
    background-image: url('../Universal/BlobBackgrounds/8.png');
    background-size: auto;
}

.students-s2 {
    background-image: url('../Universal/BlobBackgrounds/4.png');
    background-size: auto;
}

.students-s3 {
    background-image: url('../Universal/BlobBackgrounds/6.png');
    background-size: auto;
}
.students-s4 {
    background-image: url('../Universal/BlobBackgrounds/1.png');
    background-size: auto;
}
/* elements */


#students-title {
    position: relative;
    top: 80%;
    font-size: 36px;
    margin-left: 108px;
    
}

#students-desc {
    position: relative;
    top: 81%;
    font-size: 17.3px;
    margin-left: 108px;
}

#students-s2-header {
    position: relative;
    top: 10%;
    font-size: 36px;
    margin-left: 108px;
}

#students-s2-desc {
    position: relative;
    top: 11%;
    font-size: 17.3px;
    margin-left: 108px;
    margin-bottom: 20px;
}

#students-s3-header, #students-s4-header {
    position: relative;
    top: 10%;
    font-size: 36px;
    margin-left: 108px;
}

#students-s3-desc, #students-s4-desc {
    position: relative;
    top: 11%;
    font-size: 17.3px;
    margin-left: 108px;
    margin-bottom: 20px;
}

#students-info-icon {
    width: 30px;
    position: relative;
    top: 45%;
    display: none;
}
#students-nametag {
    position: absolute;
    font-weight: 800;
    font-size: 16px;
    top: 4.5%;
    left: 5%;
}
@media only screen and (max-width: 1440px) {
    #students-title {
        width: 700px;
        text-align: center;
        top: 45%;
        margin: 0 auto;
    }
    #students-desc {
        width: 700px;
        text-align: center;
        top: 46%;
        margin: 0 auto;
    }
    #students-mm-container {
        margin: 0 auto;
    }
    #students-s2-header, #students-s3-header, #students-s4-header {
        text-align: center;
        margin: 0;
    }
    #students-s2-desc, #students-s3-desc, #students-s4-desc {
        text-align: center;
        margin: 0;
    }
    #students-s2-big-box {
        display: none;
    }
    #students-info-icon {
        margin: 0 auto;
        display:block;
    }
}

@media only screen and (max-width: 1100px) {
    #students-title {
        width: 700px;
        font-size: 24px;
       
    }
}

@media only screen and (max-width: 800px) {
    #students-title {
        width: 500px;
        text-align: center;
        font-size:24px;
        left: 0%;  
    }
    #students-desc {
        width: 500px;
        text-align: center;
        top: 46%;
        font-size:16px;
        margin: 0 auto;
    }
}
