.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .products-text {
    display: flex;
    flex-direction: column;
   
}

.card-elems > * {
  margin: 5px;
}

.products-text > * {
    text-align: center;

}

.products-tag {
    margin-bottom: 10px;
    text-align: right;
}

.products-tag2 {
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}
