* {
    font-family: 'Balsamiq Sans', cursive;
      margin: 0;
    box-sizing: border-box;
  }

.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 18em;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
   
}

.side-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6em;
    height: 8em;
    }


.top-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    width: 600px;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px 10px 50px 50px;
   
   
}

.bottom-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35%;
    width: 450px;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px 10px 50px 50px;
}

.top-nav > a {
    margin: 14px 3px 10px 3px;
}

.top-nav > h3 {
    margin: 0;
}

.bottom-nav > a {
    margin: 14px 3px 10px 3px;
}

.bottom-nav > h3 {
    margin: 0
}
  